<?xml version="1.0" encoding="utf-8"?>
<cconfiguration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/jeff1992/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="jeff1992" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</cconfiguration>